.message {
	display: flex;
	margin-bottom: 5px;
}

.message svg {
	margin-right: -2px;
}

.message li {
	min-width: 250px;
	max-width: 60%;
	background: #fcf3c9;
	padding: 0.5em;
	border-radius: 0 0.4em 0.4em 0.4em;
	display: inline;
	font-family: "Lato", sans-serif;
}

.message__top {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.message__top span {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	color: #1a535c;
}

.message__top :nth-child(2) {
	font-size: 0.7em;
}
